/**
 *  Mixin break point:
 */

@mixin breakpoint($breakpoint,$breakpointWidth) {
	@media (max-width: $breakpointWidth) {
		@content;
	}
}

/**
 * Mixin create row:
 */
@mixin create-row {
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-right: -10px;
		margin-left: -10px;
	}
}

/**
 * Mixin create col:
 */
@mixin create-col-single($size) {
	.col-#{$size} {
		flex: 0 0 ($size * 8.333333333334%);
    	max-width: $size * 8.333333333334%;
	}
}

/**
 * Mixin create col:
 */
@mixin create-col($breakpoint, $size) {
	.col-#{$breakpoint}-#{$size} {
		flex: 0 0 ($size * 8.333333333334%);
    	max-width: $size * 8.333333333334%;
	}
}

/**
 * Mixin create col push:
 */
@mixin create-col-push($breakpoint, $size) {
	.push-#{$breakpoint}-#{$size} {
		margin-left: $size * 8.333333333334%;
	}
}

/**
 * Mixin create col pull:
 */
@mixin create-col-pull($size) {
	.pull-#{$size} {
		order: $size;
	}
}

/**
 * Mixin create col break point:
 */
@mixin create-breakpoint-col($breakpoint, $size) {
	.col-#{$breakpoint}-#{$size} {
		flex: 0 0 auto;
		width: 100%;
    	max-width: 100%;
	}
}

/**
 * Mixin create col push break point:
 */
@mixin create-breakpoint-col-push($breakpoint, $size) {
	.push-#{$breakpoint}-#{$size} {
		margin-left: 0;
	}
}

/**
 * Mixin create background:
 */
@mixin create-bg($arrColor,$name) {
	@each $name, $color in $arrColor {
		@if $name == $name {
			.bg-#{$name} {
				background-color: $color;
			}
		}@else {
			.bg-#{$name} {
				background-color: $color;
			}
		}
	}
}

/**
 * Mixin create color:
 */
@mixin create-color($arrColor,$name) {
	@each $name, $color in $arrColor {
		@if $name == $name {
			.text-#{$name} {
				color: $color;
			}
		}@else {
			.text-#{$name} {
				color: $color;
			}
		}
	}
}

/**
 * Mixin create clearfix:
 */
@mixin create-clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/**
 * Mixin create display:
 */
@mixin create-breakpoint-display($breakpoint) {
	.d-none-#{$breakpoint} {
		display: none;
	}
	.d-flex-#{$breakpoint} {
		display: flex;
	}
	.d-inline-flex-#{$breakpoint} {
		display: inline-flex;
	}
	.d-block-#{$breakpoint} {
		display: block;
	}
	.d-inline-block-#{$breakpoint} {
		display: inline-block;
	}
}

/**
 * Mixin create border:
 */
@mixin border($arrColor,$bdColor) {
	@each $name, $color in $arrColor {
		@if $name == $bdColor {
			.border-#{$bdColor} {
				border: 1px solid $color;
			}
		}@else {
			.border-#{$name}-#{$bdColor} {
				border-#{$name}: 1px solid $color;
			}
		}
	}
}

/**
 * Mixin create arrow:
 */
@mixin create-arrow($location, $top, $right, $bottom, $left, $bdWidth, $bdColor) {
	&::before {
		position: absolute;
		content: '';
		top: $top;
		left: $left;
		right: $right;
		bottom: $bottom;
		border: $bdWidth solid transparent;
		@if $location == 'top' {
			border-color: $bdColor transparent transparent transparent;
		}@else if $location == 'right' {
			border-color: transparent $bdColor transparent transparent;
		}@else if $location == 'bottom' {
			border-color: transparent transparent $bdColor transparent;
		}@else if $location == 'left' {
			border-color: transparent transparent transparent $bdColor;
		}
	}
}