$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$transition-btn: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$transition-input: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$transition-alert: opacity .1s ease-in-out,padding .1s ease-in-out,visibility .1s ease-in-out;
$transition-modal: opacity .2s ease-in-out, visibility .2s ease-in-out;
$transition-radio: background .15s ease-in-out, transform .15s ease-in-out;
$transition-check: background .15s ease-in-out, color .15s ease-in-out, border .15s ease-in-out, transform .15s ease-in-out;

/**
 * Breakpoint:
 * 1. xl <= 1200px
 * 2. lg <= 1024px
 * 3. md <= 900px
 * 4. sm <= 768px
 * 4. xs <= 500px
 */

$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

/**
 * Color:
 * dark color -> light color
 */

$clr-gray: #8e8e8e;
$clr-gray-1: #a0a0a0;
$clr-gray-2: #b3b2b2;
$clr-gray-3: #c3c3c3;
$clr-gray-4: #cecece;
$clr-gray-5: #dadada;

$clr-light: #dcdcdc;
$clr-light-1: #e6e6e6;
$clr-light-2: #ecebeb;
$clr-light-3: #f2f2f2;
$clr-light-4: #f9f9f9;
$clr-light-5: #fff;

$clr-dark: #363636;
$clr-dark-1: #3e3e3e;
$clr-dark-2: #464646;
$clr-dark-3: #4e4e4e;
$clr-dark-4: #565656;
$clr-dark-5: #5e5e5e;

$clr-black: #111111;
$clr-black-1: #151515;
$clr-black-2: #171717;
$clr-black-3: #191919;
$clr-black-4: #1c1c1c;
$clr-black-5: #1f1f1f;

$clr-primary: #424152;
$clr-primary-1: #515065;
$clr-primary-2: #676679;
$clr-primary-3: #767686;
$clr-primary-4: #878794;
$clr-primary-5: #92929e;

$clr-pink: #b92268;
$clr-pink-1: #ce3079;
$clr-pink-2: #dc448a;
$clr-pink-3: #ec5ea2;
$clr-pink-4: #ea7db1;
$clr-pink-5: #ec91bc;

$clr-red: #c52c2c;
$clr-red-1: #c54545;
$clr-red-2: #d85757;
$clr-red-3: #e07373;
$clr-red-4: #dc8686;
$clr-red-5: #dc9999;

$clr-blue: #2c69c5;
$clr-blue-1: #4578c5;
$clr-blue-2: #5789d8;
$clr-blue-3: #739de0;
$clr-blue-4: #86a7dc;
$clr-blue-5: #99b3dc;

$clr-green: #27b32b;
$clr-green-1: #47c545;
$clr-green-2: #57d85b;
$clr-green-3: #75e073;
$clr-green-4: #90e28e;
$clr-green-5: #a3eaa2;

$clr-orange: #f98b1a;
$clr-orange-1: #fb9832;
$clr-orange-2: #fda03f;
$clr-orange-3: #fba953;
$clr-orange-4: #fdb162;
$clr-orange-5: #fdbe7d;

/**
 * Use mixin background vs text:
 * dark color -> light color
 */

$clBlack: ("black": $clr-black, "black-1": $clr-black-1, "black-2": $clr-black-2, "black-3": $clr-black-3, "black-4": $clr-black-4, "black-5": $clr-black-5);
$clDark: ("dark": $clr-dark, "dark-1": $clr-dark-1, "dark-2": $clr-dark-2, "dark-3": $clr-dark-3, "dark-4": $clr-dark-4, "dark-5": $clr-dark-5);
$clPrimary: ("primary": $clr-primary, "primary-1": $clr-primary-1, "primary-2": $clr-primary-2, "primary-3": $clr-primary-3, "primary-4": $clr-primary-4, "primary-5": $clr-primary-5);
$clGray: ("gray": $clr-gray, "gray-1": $clr-gray-1, "gray-2": $clr-gray-2, "gray-3": $clr-gray-3, "gray-4": $clr-gray-4, "gray-5": $clr-gray-5);
$clLight: ("light": $clr-light, "light-1": $clr-light-1, "light-2": $clr-light-2, "light-3": $clr-light-3, "light-4": $clr-light-4, "light-5": $clr-light-5);
$clPink: ("pink": $clr-pink, "pink-1": $clr-pink-1, "pink-2": $clr-pink-2, "pink-3": $clr-pink-3, "pink-4": $clr-pink-4, "pink-5": $clr-pink-5);
$clRed: ("red": $clr-red, "red-1": $clr-red-1, "red-2": $clr-red-2, "red-3": $clr-red-3, "red-4": $clr-red-4, "red-5": $clr-red-5);
$clBlue: ("blue": $clr-blue, "blue-1": $clr-blue-1, "blue-2": $clr-blue-2, "blue-3": $clr-blue-3, "blue-4": $clr-blue-4, "blue-5": $clr-blue-5);
$clGreen: ("green": $clr-green, "green-1": $clr-green-1, "green-2": $clr-green-2, "green-3": $clr-green-3, "green-4": $clr-green-4, "green-5": $clr-green-5);
$clOrange: ("orange": $clr-orange, "orange-1": $clr-orange-1, "orange-2": $clr-orange-2, "orange-3": $clr-orange-3, "orange-4": $clr-orange-4, "orange-5": $clr-orange-5);

/**
 * Use mixin border:
 */

$border: ("top": $clr-gray-3,"left": $clr-gray-3,"bottom": $clr-gray-3,"right": $clr-gray-3);
$borderBlack: ("black": $clr-black,"top": $clr-black,"left": $clr-black,"bottom": $clr-black,"right": $clr-black);
$borderDark: ("dark": $clr-dark,"top": $clr-dark,"left": $clr-dark,"bottom": $clr-dark,"right": $clr-dark);
$borderPrimary: ("primary": $clr-primary,"top": $clr-primary,"left": $clr-primary,"bottom": $clr-primary,"right": $clr-primary);
$borderGray: ("gray": $clr-gray,"top": $clr-gray,"left": $clr-gray,"bottom": $clr-gray,"right": $clr-gray);
$borderLight: ("light": $clr-light,"top": $clr-light,"left": $clr-light,"bottom": $clr-light,"right": $clr-light);
$borderPink: ("pink": $clr-pink,"top": $clr-pink,"left": $clr-pink,"bottom": $clr-pink,"right": $clr-pink);
$borderRed: ("red": $clr-red-2,"top": $clr-red-2,"left": $clr-red-2,"bottom": $clr-red-2,"right": $clr-red-2);
$borderBlue: ("blue": $clr-blue,"top": $clr-blue,"left": $clr-blue,"bottom": $clr-blue,"right": $clr-blue);
$borderGreen: ("green": $clr-green,"top": $clr-green,"left": $clr-green,"bottom": $clr-green,"right": $clr-green);
$borderOrange: ("orange": $clr-orange,"top": $clr-orange,"left": $clr-orange,"bottom": $clr-orange,"right": $clr-orange);