$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$transition-btn: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$transition-input: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

/**
 * Breakpoint:
 * 1. xl <= 1200px
 * 2. lg <= 1024px
 * 3. md <= 900px
 * 4. sm <= 768px
 * 4. xs <= 500px
 */

$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

/**
 * Color:
 * dark color -> light color
 */

$clr-gray: #8e8e8e;
$clr-gray-1: #a0a0a0;
$clr-gray-2: #b3b2b2;
$clr-gray-3: #c3c3c3;
$clr-gray-4: #cecece;
$clr-gray-5: #dadada;

$clr-light: #dcdcdc;
$clr-light-1: #e6e6e6;
$clr-light-2: #ecebeb;
$clr-light-3: #f2f2f2;
$clr-light-4: #f9f9f9;
$clr-light-5: #fff;

$clr-dark: #212121;
$clr-dark-1: #242424;
$clr-dark-2: #272727;
$clr-dark-3: #2a2a2a;
$clr-dark-4: #2c2c2c;
$clr-dark-5: #2f2f2f;

$clr-black: #111111;
$clr-black-1: #151515;
$clr-black-2: #171717;
$clr-black-3: #191919;
$clr-black-4: #1c1c1c;
$clr-black-5: #1f1f1f;

$clr-primary: #424152;
$clr-primary-1: #515065;
$clr-primary-2: #676679;
$clr-primary-3: #767686;
$clr-primary-4: #878794;
$clr-primary-5: #92929e;

$clr-pink: #b92268;
$clr-pink-1: #ce3079;
$clr-pink-2: #dc448a;
$clr-pink-3: #ec5ea2;
$clr-pink-4: #ea7db1;
$clr-pink-5: #ec91bc;

$clr-red: #c52c2c;
$clr-red-1: #c54545;
$clr-red-2: #d85757;
$clr-red-3: #e07373;
$clr-red-4: #dc8686;
$clr-red-5: #dc9999;

$clr-blue: #2c69c5;
$clr-blue-1: #4578c5;
$clr-blue-2: #5789d8;
$clr-blue-3: #739de0;
$clr-blue-4: #86a7dc;
$clr-blue-5: #99b3dc;

$clr-green: #27b32b;
$clr-green-1: #47c545;
$clr-green-2: #57d85b;
$clr-green-3: #75e073;
$clr-green-4: #90e28e;
$clr-green-5: #a3eaa2;

$clr-orange: #f98b1a;
$clr-orange-1: #fb9832;
$clr-orange-2: #fda03f;
$clr-orange-3: #fba953;
$clr-orange-4: #fdb162;
$clr-orange-5: #fdbe7d;