$font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$transition-btn: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
$transition-input: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

/**
 * Breakpoint:
 * 1. xl <= 1200px
 * 2. lg <= 1024px
 * 3. md <= 900px
 * 4. sm <= 768px
 * 4. xs <= 500px
 */

$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 900px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;