/*!
 * Structure UI v0.0.1 (http://mqp99.github.io/structure-ui/)
 * Copyright 2020 The Minh Pham Author
 * Contact me (https://facebook.com/mqp99)
 */
/**
 * Breakpoint:
 * 1. xl <= 1200px
 * 2. lg <= 1024px
 * 3. md <= 900px
 * 4. sm <= 768px
 * 4. xs <= 500px
 */
/**
 * Color:
 * dark color -> light color
 */
/**
 * Disabled select color safari
*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  color: #161616;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/**
 * Reset <h1> to <h6>
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h1, .h1 {
  font-size: 2.25rem;
}

h2, .h2 {
  font-size: 1.85rem;
}

h3, .h3 {
  font-size: 1.65rem;
}

h4, .h4 {
  font-size: 1.35rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 0.85rem;
}

/**
 * Reset margin <p>
*/
p {
  margin: 0.5rem 0;
}

/**
 * Reset color <a>
*/
a {
  color: #3399ff;
}

/**
 * Reset font bolder <a>
*/
b,
strong {
  font-weight: bolder;
}

/**
 * Reset all button cursor <a>
*/
button,
button[type=button],
button[type=reset],
button[type=submit] {
  cursor: pointer;
  border: 1px solid #888;
  border-radius: 0;
  -webkit-appearance: button;
}

/**
 * Remove spacing table
*/
table {
  border-collapse: collapse;
}

/**
 * Suport IE
*/
main {
  display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Root fontsize
 */
small {
  font-size: 0.8em;
}

/**
 * Reset `textarea` vs `input` eval
 */
input,
textarea {
  font-size: 1em;
  border: 1px solid #888;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-max {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-xl-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-lg-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-md-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-sm-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xl-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-lg-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-md-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-sm-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xl-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-sm-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xs-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-xl-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-lg-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-sm-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xl-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-lg-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-md-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-sm-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xl-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xl-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-lg-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-md-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-sm-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xl-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-lg-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-md-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-sm-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xl-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-md-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-sm-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xs-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-xl-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-lg-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-md-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-sm-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xl-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-lg-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-md-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-sm-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xl-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-lg-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.push-xl-1 {
  margin-left: 8.3333333333%;
}

.push-lg-1 {
  margin-left: 8.3333333333%;
}

.push-md-1 {
  margin-left: 8.3333333333%;
}

.push-sm-1 {
  margin-left: 8.3333333333%;
}

.push-xs-1 {
  margin-left: 8.3333333333%;
}

.push-xl-2 {
  margin-left: 16.6666666667%;
}

.push-lg-2 {
  margin-left: 16.6666666667%;
}

.push-md-2 {
  margin-left: 16.6666666667%;
}

.push-sm-2 {
  margin-left: 16.6666666667%;
}

.push-xs-2 {
  margin-left: 16.6666666667%;
}

.push-xl-3 {
  margin-left: 25%;
}

.push-lg-3 {
  margin-left: 25%;
}

.push-md-3 {
  margin-left: 25%;
}

.push-sm-3 {
  margin-left: 25%;
}

.push-xs-3 {
  margin-left: 25%;
}

.push-xl-4 {
  margin-left: 33.3333333333%;
}

.push-lg-4 {
  margin-left: 33.3333333333%;
}

.push-md-4 {
  margin-left: 33.3333333333%;
}

.push-sm-4 {
  margin-left: 33.3333333333%;
}

.push-xs-4 {
  margin-left: 33.3333333333%;
}

.push-xl-5 {
  margin-left: 41.6666666667%;
}

.push-lg-5 {
  margin-left: 41.6666666667%;
}

.push-md-5 {
  margin-left: 41.6666666667%;
}

.push-sm-5 {
  margin-left: 41.6666666667%;
}

.push-xs-5 {
  margin-left: 41.6666666667%;
}

.push-xl-6 {
  margin-left: 50%;
}

.push-lg-6 {
  margin-left: 50%;
}

.push-md-6 {
  margin-left: 50%;
}

.push-sm-6 {
  margin-left: 50%;
}

.push-xs-6 {
  margin-left: 50%;
}

.push-xl-7 {
  margin-left: 58.3333333333%;
}

.push-lg-7 {
  margin-left: 58.3333333333%;
}

.push-md-7 {
  margin-left: 58.3333333333%;
}

.push-sm-7 {
  margin-left: 58.3333333333%;
}

.push-xs-7 {
  margin-left: 58.3333333333%;
}

.push-xl-8 {
  margin-left: 66.6666666667%;
}

.push-lg-8 {
  margin-left: 66.6666666667%;
}

.push-md-8 {
  margin-left: 66.6666666667%;
}

.push-sm-8 {
  margin-left: 66.6666666667%;
}

.push-xs-8 {
  margin-left: 66.6666666667%;
}

.push-xl-9 {
  margin-left: 75%;
}

.push-lg-9 {
  margin-left: 75%;
}

.push-md-9 {
  margin-left: 75%;
}

.push-sm-9 {
  margin-left: 75%;
}

.push-xs-9 {
  margin-left: 75%;
}

.push-xl-10 {
  margin-left: 83.3333333333%;
}

.push-lg-10 {
  margin-left: 83.3333333333%;
}

.push-md-10 {
  margin-left: 83.3333333333%;
}

.push-sm-10 {
  margin-left: 83.3333333333%;
}

.push-xs-10 {
  margin-left: 83.3333333333%;
}

.push-xl-11 {
  margin-left: 91.6666666667%;
}

.push-lg-11 {
  margin-left: 91.6666666667%;
}

.push-md-11 {
  margin-left: 91.6666666667%;
}

.push-sm-11 {
  margin-left: 91.6666666667%;
}

.push-xs-11 {
  margin-left: 91.6666666667%;
}

.pull-xl-1 {
  order: 1;
}

.pull-lg-1 {
  order: 1;
}

.pull-md-1 {
  order: 1;
}

.pull-sm-1 {
  order: 1;
}

.pull-xs-1 {
  order: 1;
}

.pull-xl-2 {
  order: 2;
}

.pull-lg-2 {
  order: 2;
}

.pull-md-2 {
  order: 2;
}

.pull-sm-2 {
  order: 2;
}

.pull-xs-2 {
  order: 2;
}

.pull-xl-3 {
  order: 3;
}

.pull-lg-3 {
  order: 3;
}

.pull-md-3 {
  order: 3;
}

.pull-sm-3 {
  order: 3;
}

.pull-xs-3 {
  order: 3;
}

.pull-xl-4 {
  order: 4;
}

.pull-lg-4 {
  order: 4;
}

.pull-md-4 {
  order: 4;
}

.pull-sm-4 {
  order: 4;
}

.pull-xs-4 {
  order: 4;
}

.pull-xl-5 {
  order: 5;
}

.pull-lg-5 {
  order: 5;
}

.pull-md-5 {
  order: 5;
}

.pull-sm-5 {
  order: 5;
}

.pull-xs-5 {
  order: 5;
}

.pull-xl-6 {
  order: 6;
}

.pull-lg-6 {
  order: 6;
}

.pull-md-6 {
  order: 6;
}

.pull-sm-6 {
  order: 6;
}

.pull-xs-6 {
  order: 6;
}

.pull-xl-7 {
  order: 7;
}

.pull-lg-7 {
  order: 7;
}

.pull-md-7 {
  order: 7;
}

.pull-sm-7 {
  order: 7;
}

.pull-xs-7 {
  order: 7;
}

.pull-xl-8 {
  order: 8;
}

.pull-lg-8 {
  order: 8;
}

.pull-md-8 {
  order: 8;
}

.pull-sm-8 {
  order: 8;
}

.pull-xs-8 {
  order: 8;
}

.pull-xl-9 {
  order: 9;
}

.pull-lg-9 {
  order: 9;
}

.pull-md-9 {
  order: 9;
}

.pull-sm-9 {
  order: 9;
}

.pull-xs-9 {
  order: 9;
}

.pull-xl-10 {
  order: 10;
}

.pull-lg-10 {
  order: 10;
}

.pull-md-10 {
  order: 10;
}

.pull-sm-10 {
  order: 10;
}

.pull-xs-10 {
  order: 10;
}

.pull-xl-11 {
  order: 11;
}

.pull-lg-11 {
  order: 11;
}

.pull-md-11 {
  order: 11;
}

.pull-sm-11 {
  order: 11;
}

.pull-xs-11 {
  order: 11;
}

.pull-xl-12 {
  order: 12;
}

.pull-lg-12 {
  order: 12;
}

.pull-md-12 {
  order: 12;
}

.pull-sm-12 {
  order: 12;
}

.pull-xs-12 {
  order: 12;
}

.bg-dark {
  background-color: #212121;
}

.bg-dark-1 {
  background-color: #242424;
}

.bg-dark-2 {
  background-color: #272727;
}

.bg-dark-3 {
  background-color: #2a2a2a;
}

.bg-dark-4 {
  background-color: #2c2c2c;
}

.bg-dark-5 {
  background-color: #2f2f2f;
}

.bg-black {
  background-color: #111111;
}

.bg-black-1 {
  background-color: #151515;
}

.bg-black-2 {
  background-color: #171717;
}

.bg-black-3 {
  background-color: #191919;
}

.bg-black-4 {
  background-color: #1c1c1c;
}

.bg-black-5 {
  background-color: #1f1f1f;
}

.bg-gray {
  background-color: #8e8e8e;
}

.bg-gray-1 {
  background-color: #a0a0a0;
}

.bg-gray-2 {
  background-color: #b3b2b2;
}

.bg-gray-3 {
  background-color: #c3c3c3;
}

.bg-gray-4 {
  background-color: #cecece;
}

.bg-gray-5 {
  background-color: #dadada;
}

.bg-light {
  background-color: #dcdcdc;
}

.bg-light-1 {
  background-color: #e6e6e6;
}

.bg-light-2 {
  background-color: #ecebeb;
}

.bg-light-3 {
  background-color: #f2f2f2;
}

.bg-light-4 {
  background-color: #f9f9f9;
}

.bg-light-5 {
  background-color: #fff;
}

.bg-pink {
  background-color: #b92268;
}

.bg-pink-1 {
  background-color: #ce3079;
}

.bg-pink-2 {
  background-color: #dc448a;
}

.bg-pink-3 {
  background-color: #ec5ea2;
}

.bg-pink-4 {
  background-color: #ea7db1;
}

.bg-pink-5 {
  background-color: #ec91bc;
}

.bg-red {
  background-color: #c52c2c;
}

.bg-red-1 {
  background-color: #c54545;
}

.bg-red-2 {
  background-color: #d85757;
}

.bg-red-3 {
  background-color: #e07373;
}

.bg-red-4 {
  background-color: #dc8686;
}

.bg-red-5 {
  background-color: #dc9999;
}

.bg-blue {
  background-color: #2c69c5;
}

.bg-blue-1 {
  background-color: #4578c5;
}

.bg-blue-2 {
  background-color: #5789d8;
}

.bg-blue-3 {
  background-color: #739de0;
}

.bg-blue-4 {
  background-color: #86a7dc;
}

.bg-blue-5 {
  background-color: #99b3dc;
}

.bg-green {
  background-color: #27b32b;
}

.bg-green-1 {
  background-color: #47c545;
}

.bg-green-2 {
  background-color: #57d85b;
}

.bg-green-3 {
  background-color: #75e073;
}

.bg-green-4 {
  background-color: #90e28e;
}

.bg-green-5 {
  background-color: #a3eaa2;
}

.bg-orange {
  background-color: #f98b1a;
}

.bg-orange-1 {
  background-color: #fb9832;
}

.bg-orange-2 {
  background-color: #fda03f;
}

.bg-orange-3 {
  background-color: #fba953;
}

.bg-orange-4 {
  background-color: #fdb162;
}

.bg-orange-5 {
  background-color: #fdbe7d;
}

.bg-primary {
  background-color: #424152;
}

.bg-primary-1 {
  background-color: #515065;
}

.bg-primary-2 {
  background-color: #676679;
}

.bg-primary-3 {
  background-color: #767686;
}

.bg-primary-4 {
  background-color: #878794;
}

.bg-primary-5 {
  background-color: #92929e;
}

@media (max-width: 1200px) {
  .container.use-breakpoint {
    max-width: 1024px;
  }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .push-xl-1 {
    margin-left: 0;
  }

  .push-xl-2 {
    margin-left: 0;
  }

  .push-xl-3 {
    margin-left: 0;
  }

  .push-xl-4 {
    margin-left: 0;
  }

  .push-xl-5 {
    margin-left: 0;
  }

  .push-xl-6 {
    margin-left: 0;
  }

  .push-xl-7 {
    margin-left: 0;
  }

  .push-xl-8 {
    margin-left: 0;
  }

  .push-xl-9 {
    margin-left: 0;
  }

  .push-xl-10 {
    margin-left: 0;
  }

  .push-xl-11 {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .container.use-breakpoint {
    max-width: 900px;
  }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .push-lg-1 {
    margin-left: 0;
  }

  .push-lg-2 {
    margin-left: 0;
  }

  .push-lg-3 {
    margin-left: 0;
  }

  .push-lg-4 {
    margin-left: 0;
  }

  .push-lg-5 {
    margin-left: 0;
  }

  .push-lg-6 {
    margin-left: 0;
  }

  .push-lg-7 {
    margin-left: 0;
  }

  .push-lg-8 {
    margin-left: 0;
  }

  .push-lg-9 {
    margin-left: 0;
  }

  .push-lg-10 {
    margin-left: 0;
  }

  .push-lg-11 {
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .container.use-breakpoint {
    max-width: 768px;
  }

  .col-md-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .push-md-1 {
    margin-left: 0;
  }

  .push-md-2 {
    margin-left: 0;
  }

  .push-md-3 {
    margin-left: 0;
  }

  .push-md-4 {
    margin-left: 0;
  }

  .push-md-5 {
    margin-left: 0;
  }

  .push-md-6 {
    margin-left: 0;
  }

  .push-md-7 {
    margin-left: 0;
  }

  .push-md-8 {
    margin-left: 0;
  }

  .push-md-9 {
    margin-left: 0;
  }

  .push-md-10 {
    margin-left: 0;
  }

  .push-md-11 {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .container.use-breakpoint {
    max-width: 650px;
  }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .push-sm-1 {
    margin-left: 0;
  }

  .push-sm-2 {
    margin-left: 0;
  }

  .push-sm-3 {
    margin-left: 0;
  }

  .push-sm-4 {
    margin-left: 0;
  }

  .push-sm-5 {
    margin-left: 0;
  }

  .push-sm-6 {
    margin-left: 0;
  }

  .push-sm-7 {
    margin-left: 0;
  }

  .push-sm-8 {
    margin-left: 0;
  }

  .push-sm-9 {
    margin-left: 0;
  }

  .push-sm-10 {
    margin-left: 0;
  }

  .push-sm-11 {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .col-xs-1 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-2 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-3 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-4 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-5 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-6 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-7 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-8 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-9 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-10 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-11 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
  }

  .push-xs-1 {
    margin-left: 0;
  }

  .push-xs-2 {
    margin-left: 0;
  }

  .push-xs-3 {
    margin-left: 0;
  }

  .push-xs-4 {
    margin-left: 0;
  }

  .push-xs-5 {
    margin-left: 0;
  }

  .push-xs-6 {
    margin-left: 0;
  }

  .push-xs-7 {
    margin-left: 0;
  }

  .push-xs-8 {
    margin-left: 0;
  }

  .push-xs-9 {
    margin-left: 0;
  }

  .push-xs-10 {
    margin-left: 0;
  }

  .push-xs-11 {
    margin-left: 0;
  }
}