@include breakpoint('xs', $breakpoint-xs) {
	.modal {
		.modal-container {
			width: 95%;
			max-width: 100%;
			min-width: inherit;
		}
	}
	.col-xs {
		flex: 0 0 100%;
		max-width: 100%;
	}

	@include create-breakpoint-display('xs');

	@for $i from 1 through 12 {
		@include create-breakpoint-col('xs', $i);
	}
	@for $i from 1 through 11 {
		@include create-breakpoint-col-push('xs', $i);
	}
}