@include breakpoint('lg', $breakpoint-lg) {
	.container {
		max-width: 900px;
	}
	.col-lg {
		flex: 0 0 100%;
		max-width: 100%;
	}
	@for $i from 1 through 12 {
		@include create-breakpoint-col('lg', $i);
	}
	@for $i from 1 through 11 {
		@include create-breakpoint-col-push('lg', $i);
	}
}