@include breakpoint('sm', $breakpoint-sm) {
	.container {
		max-width: 650px;
	}
	.col-sm {
		flex: 0 0 100%;
		max-width: 100%;
	}
	@for $i from 1 through 12 {
		@include create-breakpoint-col('sm', $i);
	}
	@for $i from 1 through 11 {
		@include create-breakpoint-col-push('sm', $i);
	}
}