@include breakpoint('md', $breakpoint-md) {
	.container {
		max-width: 768px;
	}
	.modal {
		.modal-container {
			max-width: 70%;
			min-width: 500px;
		}
	}
	@for $i from 1 through 12 {
		@include create-breakpoint-col('md', $i);
	}
	@for $i from 1 through 11 {
		@include create-breakpoint-col-push('md', $i);
	}
}