.form-check {
	position: relative;
	margin-bottom: .5rem;
	.form-multiple-check {
		display: none;
		& + label:hover:before {
			border: 1px solid #777;
		}
		& + label:before {
			content: '\2713';
			display: inline-block;
			border: 1px solid #999;
			width: 20px;
			height: 20px;
			line-height: 1.2;
			margin-right: 2px;
			text-align: center;
			color: transparent;
			border-radius: .15rem;
			transform: rotate(180deg);
			transition: $transition-check;
		}
		&:checked + label:before {
			border: 1px solid $clr-blue;
			// background: $clr-blue-2;
			transform: rotate(0deg);
			color: $clr-blue;
		}
	}
	.form-multiple-radio {
		display: none;
		& + label {
			padding-left: 1.7rem;
		}
		& + label:before {
			position: absolute;
			content: '';
			top: 4px;
			left: 0;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 1px solid #999;

		}
		& + label:after {
			position: absolute;
			content: '';
			top: 7px;
			left: 3px;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: transparent;
			transform: scale(.2);
			transition: $transition-radio;
		}
		&:checked + label:before {
			border: 1px solid $clr-blue-3;
		}
		&:checked + label:after {
			background: $clr-blue-3;
			transform: scale(1);
		}
	}
	.form-multiple-label {
		user-select: none;
	}
}