.form-group {
	width: 100%;
	margin-bottom: .75rem;

	&.form-inline {
		display: inline-flex;
		align-items: center;
		.form-check:not(:first-child) {
			margin-left: 10px;
		}
	}

	select[class='form-multiple'] {
		appearance: none;
		background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
		background-repeat: no-repeat, repeat;
		background-position: right 0 top 50%, 0 0;
		background-size: 1.5rem auto, 100%;
	}

	.form-multiple {
		width: 100%;
		color: $clr-dark-3;
		display: block;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		padding: .35rem .75rem;
		background-color: #fff;
		border: 1px solid $clr-light;
		background-clip: padding-box;
		transition: $transition-input;

		/** CSS when focus*/
		&:focus {
			outline: none;
			border: 1px solid $clr-dark-5;
			box-shadow: 0 0 0 .2rem rgba($clr-dark-5, .2);
		}

		/** CSS size */
		&.form-lg {
			height: calc(2rem + 1rem)!important;
		    font-size: 1.15rem!important;
		    padding: 0.5rem 1rem!important;
		}

		&.form-sm {
			height: calc(1.3rem + 0.513rem)!important;
			font-size: 0.9rem!important;
	    	padding: 0.15rem 0.5rem!important;
		}

		/** CSS disable resize for textarea */
		&[class~="no-resize"] {
			resize: none;
		}

		/** CSS height for input,select */
		&:not([multiple]):not(textarea) {
			height: calc(1.5rem + 0.75rem);
		}
		/** CSS padding for option */
		&[multiple] {
			option {
				padding: 3px 0;
			}
		}

		/** CSS when disabled*/
		&[readonly],
		&:disabled,
		&.disabled {
			pointer-events: none;
			user-select: none;
			background: $clr-light-3;
		}

		/** Use text */
		&.form-multiple-use-text {
			padding-left: 0;
			background: transparent;
			border: 1px solid transparent;
			&:focus {
				border: 1px solid $clr-dark-5;
				box-shadow: 0 0 0 .2rem rgba($clr-dark-5, .2);
			}
		}
	}
}